body {
  background-color: #ffffff;
}

.footer-bg-color {
  background-color: grey;
  text-align: center;
  padding: 15px;
}

.card-action{
  background-color:#21897E;
   transition: ease-in-out, width .35s ease-in-out;
}
#index-banner{
  margin-top: 1%;

}
#Banner{
  background-image: linear-gradient(#21897E,#3BA99C);
    font-family: 'Khula', sans-serif;
    color:black;
    text-shadow: 0px 4px #69D1C5;
}
#trending-report {
  background-color: lightgrey;
  margin-left: auto;
  margin-right: auto;

}
input{
  background-color:#21897E;
   transition: ease-in-out, width .35s ease-in-out;
}

input:hover{
  background-color:#21897E;
   transition: ease-in-out, width .35s ease-in-out;
}



th, td {
  color: white;
  padding: 8px;
}

th {
  color:white;
  font-size: 1.5rem;
}


.countCol {
  font-family: 'Khula', sans-serif;
  text-align: right;
}

.timeframeSelect {
  margin-top: 2%;
  margin-right: 1%;
}


h5{
font-family: 'Spectral', serif;
}


h2,footer{
  font-family: 'Khula', sans-serif;
}
